    

form{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 50%;
  border: 0px solid black;   
}

input[type=email], input[type=password], input[type=date], input[type=city], input[type=country] {
  width: 70%;
  padding: 16px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #2e2e2e;
}

.registerbtn {
  background-color: #04AA6D;
  color: rgb(8, 0, 0);
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}


a {
  color: dodgerblue;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
  width: 100%;
  
}

.inf{
  display: flex;
  justify-content: center;
  align-items: center;
}